---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Review from "@components/Review"
import { REVIEW } from "@consts"

const review = (await getCollection("review"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(review.flatMap(project => project.data.tags))]
  .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={REVIEW.TITLE} description={REVIEW.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {REVIEW.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Review client:load tags={tags} data={review} />
    </div>
  </BottomLayout>
</PageLayout>
